<br>
<h3>Modulo de Productos</h3>
<br>
<a routerLink="/administracion/crear-producto" class="btn">Nuevo Producto</a>
<table class="table responsive">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Precio
            </th>
            <th>
                Existencias
            </th>
            <th>
                Disponibilidad
            </th>
            <th>
                Imagen
            </th>
            <th>
                Edicion
            </th>
            <th>
                Eliminacion
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of listadoRegistros">
            <td>
                {{p.nombre}}
            </td>
            <td>
                {{p.descripcion}}
            </td>
            <td>
                {{p.precio}}
            </td>
            <td>
                {{p.existencias}}
            </td>
            <td>
                {{p.disponible}}
            </td>
            <td>
                <img src="{{p.imagen}}" class="imagenproducto">
            </td>
            <td>
                <a routerLink="/administracion/editar-producto/{{p.idProducto}}" class="btn">Editar</a>
            </td>
            <td>
                <a routerLink="/administracion/eliminar-producto/{{p.idProducto}}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>