<nav>
  <div class="nav-wrapper">
    <a routerLink="/inicio" class="brand-logo right">Logo</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li *ngIf="!inicioSesionAdmin"><a routerLink="/inicio">Inicio</a></li>
      <li *ngIf="inicioSesionAdmin"><a routerLink="/administracion/listar-admin">Administrador</a></li>
      <li *ngIf="inicioSesionAdmin"><a routerLink="/administracion/vendedor">Vendedor</a></li>
      <li *ngIf="inicioSesionAdmin"><a routerLink="/administracion/cliente">Cliente</a></li>
      <li *ngIf="inicioSesionAdmin"><a routerLink="/administracion/producto">Productos</a></li>
      <li *ngIf="inicioSesionAdmin"><a routerLink="/seguridad/cambioClave">Cambiar Clave</a></li>
      <li *ngIf="inicioSesionAdmin"><a routerLink="/seguridad/cerrarSesion">Cerrar Sesion</a></li>
      <li *ngIf="!inicioSesionAdmin"><a routerLink="/seguridad/identificar">Iniciar Sesion</a></li>
    </ul>
  </div>
</nav>